<div class="container text-center">
    <div class="row">
        <div class="form-width center pb-2" id="background">
            <form class="" name="signUpForm" novalidate>
                <div class="mt-5" >
                    <div class="form-group row">
                        <h1>Sign Up</h1>
                    </div>
                        <div class="" >
                            <span class="glyphicon glyphicon-user"></span>
                            <input  class="col-4" type="text" name="username"
                                    ng-model="signUpCtrl.user.username"
                                    ng-required="true"> <br>
                            <label>Username</label><br>
                            <span ng-if="signUpForm.username.$error.required && signUpForm.username.$touched" 
                                  class="glyphicon glyphicon-alert" id="error">
                             Username is required</span><br>
                        </div>
        
                        <div>
                            <span class="glyphicon glyphicon-lock"></span>
                            <input  type="password" name="password"
                                    ng-model="signUpCtrl.user.password" 
                                    ng-required="true"> <br>
                            <label>Password</label><br>
                            <span ng-if="signUpForm.password.$error.required && signUpForm.password.$touched"
                            class="glyphicon glyphicon-alert" id="error">
                                Password is required
                            </span>
                        </div>

                        <div>
                            <span class="glyphicon glyphicon-lock"></span>
                            <input  type="password" name="confirmPassword"
                                    ng-model="signUpCtrl.user.confirmPassword" 
                                    ng-required="true"> <br>
                            <label>Confirm password</label><br>
                           
                            <span ng-if="signUpForm.confirmPassword.$error.required && signUpForm.confirmPassword.$touched"
                            class="glyphicon glyphicon-alert" id="error">
                                Please confirm the password
                            </span>
                        </div>
                        <button ng-disabled="signUpForm.$invalid"
                                ng-click="signUpCtrl.signUp()"
                        class="btn">Create account</button>
                        <br>
                        {{signUpCtrl.msg}}

                        <p>You already have an account?<a ui-sref="login">Login </a> .</p>
                </div>
            </form>
        </div>

    </div>
    
    

</div>